

.sidebar {
  color: white;
  background-color: #e6b962;
  border-style: inset;
  border-width: 5px;
  box-shadow: 1px 1px 1px 1px gray;
  text-align: left;
  width: 30%;
  border: 5px solid white;
  display: inline-block;
  font-size: 1.5em;
  margin-bottom: 1.5em;
  margin-top: .2;
}

.sidebar-bottom {

}

.message-component{
  
}
